<li>
    <a href="javascript:void(0)" class="item d-flex">
        <div class="avatar order-1">
            <img src="{{roomC.meta[1]}}" alt="contact person" class="rounded-circle w-40">
        </div>
        <div class="row-content order-2">
            <small class="text-muted float-right">{{message.t}}</small>
            <p class="list-group-item-title">{{roomC.meta[0]}}</p>
            <p class="list-group-item-text"><span style="text-transform: capitalize;">{{message.name}}</span>: {{message.message}}</p>
        </div>
    </a>
</li>