.category-heading{
    padding: 5px 10px;
    text-align: left;
    cursor: pointer;
    border-bottom: 1px solid #f2f2f2;
} 
.page-content {
    padding: 10px!important;
}
.username{
    text-transform: capitalize;
    font-size: 12px;
    margin-bottom: 0;
    color: #7468bd;
}
.right{
    float:right
}
.message-remove-right{
    float:right;
    cursor: pointer;
    margin-top:1rem;
    margin-right:0.5em;
}
.message-remove{
    cursor: pointer;
    margin-top:1rem;
    margin-left:0.5em;
}
@media (max-width: 992px){
    .top-toolbar.navbar-desktop {
        position: relative!important;
    }
}   